* {
  box-sizing: border-box;
}

:root {
  --mainBlue: hsl(240, 46%, 31%);
  --lightBlue: #45b3eb;
  --mainWhite: rgb(248, 248, 247);
  --mainDark: rgb(23, 33, 3);
  --mainYellow: rgb(216, 226, 75s);
  --mainOrange: rgba(235, 96, 53, 0.938);
  --mainRed: rgb(218, 34, 43);
}

.App {
  text-align: center;
}

.margin-row {
  margin-left: 50px;
  margin-right: 50px;

}

body {
  /* color: var(--mainDark); */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
  /* background-color:var(--mainYellow) !important; */
  background-blend-mode: normal;
  background-image: linear-gradient(to right, red, orange);
}

.fixed-bottom {
  position: absolute;
  bottom: auto;
}

.navme {
  opacity: 0.8px;
  margin-bottom: 2px blue solid;

}

.headme {
  /* max-resolution: top 1.8rem; */
  text-align: end;
  text-emphasis: bold;
  word-spacing: monospace;
  margin-top: 25px;
  word-spacing: 0.4rem;
  color: var(--mainBlue);
  font-size: 2.3em !important;
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("./logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  word-spacing: 1.3rem;
  text-decoration: nones;

}

.Textformat {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
  text-transform: capitalize;
  font-size: 1.2rem;
  color: var(var(--mainDark));


}

.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 20px;
  border-radius: 1px;
  color: var(--mainDark);
  padding-top: 1px;
  padding-left: 10px;
  padding-right: 10px;
  border: .5px solid var(--mainOrange);
}


/* the footer image */
.footer-area {
  background-image: url("/images/ui_img/home-banner.jpg");
}

/* increment and decremnt box style*/
.box {
  border: 1px var(--mainBlue) solid;
  border-radius: 2px;
  display: wrap-content;
  padding-left: 8px;
  padding-right: 8px;
  box-shadow: 2px var(--mainDark);
}

.fa-trash {
  color: red;
  font-size: 25px;

}

.cartTotaltext {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  margin-right: 45px;
  color: var(--mainBlue) !important;
  display: block;
  text-emphasis: 1px;
  text-shadow: rgba(0, 0, 0, .2);
  -webkit-text-stroke-width: 1px;

}

.box:hover {
  cursor: pointer;
  background-color: coral;
  border-radius: 3px;
}

.default {
  margin-bottom: 100px;
}

.product-list {
  width: 80vw;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto;
  /* display: grid; */
  /* grid-template-columns: 3fr; */
  /* grid-template-columns: repeat(auto-fill, minmax(270px, 4fr)); */
  /* grid-row-gap: 2rem; */
  /* grid-column-gap: 30px; */
}

.product-list-center {
  width: 100%;
  justify-content: center;
  align-content: center;
  display: grid;
  /* grid-template-columns: 3fr; */
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  grid-row-gap: 2rem;
  grid-column-gap: 30px;
}